*

## 添加需要管理的文件夹
!/test/
!/test/**/
!/GaussPntDoc/
!/GaussPntDoc/**/

## 添加指定后缀文件
!*.cpp
!*.h
!*.c
!.gitignore
!Makefile
!CMakeLists.txt
## 忽视
**/CMakeCache.txt
**/CMakeUserPresets.json
**/CTestTestfile.cmake
**/CPackConfig.cmake
**/cmake_install.cmake
**/install_manifest.txt
**/compile_commands.json
*.o
